{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
 <div class="container">
 	<div class="header">
 		<h1>Lo<span>gin</span></h1>
 	</div>
 	<div class="main">
 		<form action="login" method="POST">
			{% csrf_token %}
 			<span>
 				<i class="fa fa-user"></i>
 				<input type="text" placeholder="Username" name="username">
 			</span><br>
 			<span>
 				<i class="fa fa-lock"></i>
 				<input type="password" placeholder="password" name="password">
 			</span><br>
 				<button>login</button>
 		</form>
 	</div>
	</div>
 </div>
 <style>
	body {
		background-image: url('https://wallpapercave.com/wp/wp2939900.jpg');
	}
 </style>
</body>
</html>